
body{
    margin: 0;
    background: #CBB89A;
    font-family: 'Press Start 2P', cursive;
}

.mainApp{
    width: 1100px;
    margin: auto;
}

.topBar{
    background:#7B4C2E;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 0 #4A2A1B;
}

.content{
    display: flex;
    margin-top: 20px;
}

/*Side bar which contains the menu buttons*/
.sidebar{
    width: 220px;
    height: 620px; /*Possible removal*/
    background: #5A3824;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 0 #3c2415;

}

/* Player's Character Section*/
.PlayerCharacterSection{
    background: #6B4B36;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

}

.PlayerCharacter{
    background: #7EA0BD;
    height: 230px;
    border-radius:8px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    z-index: 1;
}

.XpStatus{
    margin-top: 10px;
    background: #D06A00;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    height: 20px;
    text-align: center;
    z-index: 3;

}

.menu{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.menu button{
    background: #E16B00;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    border:none;
    padding: 12px;
    color: white;
    border-radius: 8px;
    cursor: pointer;

}


/* Main content area where quests and other information will be displayed*/

.mainContent{
    flex: 1;
    margin-left: 20px;
}

.stats{
    background: #7B4C2E;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

.XPBar{
    width: 300px;
    height: 12px;
    background: #203040;
    border-radius: 6px;

}

.questContainer{
    background: #E8E6E2;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #7B4C2E;

}

.questContainer h2{
    background: #7B4C2E;
    color:white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.questInput{
    display: flex;
    gap: 10px;
    margin-top:20px;

}

.questInput input{
   padding: 10px;
   border-radius:6px;
   border: 3px solid #bbb; 
   
}

.taskInput{
    width: 600px; 
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
}

.XPValue{
    width: 60px;
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
}

.addButton{
    background: #FF6A00;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 0 #B14A00;
}
.addButton:hover{
    transform: translateY(3px);
    box-shadow: 0 0 0 #B14A00;
}

.EmptySpaceBetweenTaskAndXP{
    width: 10px;
}

.questList{
    margin-top: 30px;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 5px;
}

.emptyMessage{
    text-align:center;
    color: #5A6573;

}


.questCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F3EE;
    border: 2px solid #7B4C2E;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    transition: transform 0.15s, box-shadow 0.15s; /* for smoother hover effect*/
}

.questTitle{
    flex: 1;
}

.questXP{
    color: #D06A00;
    margin-right: 10px;
}

.completeQuest{

    background: #2ECC71;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.completeQuest:hover{
    background: #27AE60;
    transform: translateY(-1px);
    box-shadow: 0 2px 0 #1E8449;
}

.questCard:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 0 #4A2A1B;
}

.XPSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.XPBar{
    width: 220px;
    height: 12px;
    background: #203040;
    border-radius: 6px;
    overflow: hidden;
}

.XPFill{
    height: 100%;
    width: 0%;
    background: #D06A00;
    transition: width 0.25s;
}


/*This section is for the shop page*/

.shopGrid{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 20px;
    margin-top: 20px;
    max-height: 540px;
    overflow-y: auto;
    border: 2px solid #5f6971;
    border-radius: 15px;
    background: #c4cbd1;
}

.shopCard{
    background: #E8E6E2;
    border: 2px solid #5f6971;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 275px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopImage{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 150px;
    margin: auto;
    margin-bottom: 12px;
    background: #C4CBD1;
    border: 2px solid #555;
    border-radius: 10px;

}

.shopImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering:crisp-edges;
}

.shopTitle{
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.shopDescription{
    font-size: 8px;
    color: #555;
    margin-bottom: 10px;
}

.shopPrice{
    color:#dbbf0b;
    margin-bottom:10px;
}

.buyButton{
    background: #7EA0BD;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.buyButton:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 0 #51687c;
}

.shopCard:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 0 #51687c;
}


/* PLAYER CHARACTER */

#skinLayer{
    background-image: url("sprites/DefaultSkin.png");
}
#legsLayer{
    background-image: url("sprites/DefaultLegs.png");
}
#torsoLayer{
    background-image: url("sprites/DefaultTorso.png");
}
#headLayer{
    background-image: url("sprites/DefaultHeadBoy.png");
}

.characterLayout{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-top: 20px;
}

.customization{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 420px;
}

.characterPreview{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px 0;
    padding-bottom: 15px;
    border-radius: 25%;
    border: 4px solid #5F6971;
    background: #AEB6BD;
    box-shadow: 0 6px 0 #3C444A;
    
}
/* for the side bar*/
.characterPreviewSmall{
    position: relative;
    top: -71px;
    left: -95px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.characterPreviewSmall .characterLayer{
    width: 320px;
    height: 246px;
    background-size: 2560px 320px;
}

.characterLayer{
    position: absolute;
    width: 320px;
    height: 320px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 2560px 320px;

    animation: idleAnimation 4s steps(8) infinite;
}

@keyframes idleAnimation{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: -2560px 0px;
    }
}

.customCategory{
    background: #E8E6E2;
    border: 3px solid #7B4C2E;
    border-radius: 10px;
    padding: 15px;
    box-shadow:0 4px 0 #4A2A1B;
}

.customCategory h3{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 12px;
    color: #5A3824;
}

.customButtons{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10px;
}
.customButtons button{
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    background: #c4cbd1;
    padding: 10px;
    color: black;
    border-radius:6px;
    cursor:pointer;
    box-shadow: 0 3px - #9A3F00;
    transition: transform 0.1s;
}
.customButtons button:hover{
    transform:translateY(-2px);
}